name: OE License

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
  workflow_dispatch:
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  test:
    name: Check status
    runs-on: ubuntu-latest
    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
    steps:
      - uses: actions/checkout@v1

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      # More info on options: https://github.com/goanpeca/setup-miniconda
      - uses: goanpeca/setup-miniconda@v1
        with:
          python-version: "3.7"
          channels: conda-forge,defaults,openeye
          auto-update-conda: true
          auto-activate-base: true
          show-channel-urls: true

      - name: Install OpenEye tools
        shell: bash -l {0}
        run:  conda install openeye-toolkits

      - name: Decrypt OpenEye license
        shell: bash
        env:
          ENC_OE_LICENSE: ${{ secrets.OE_LICENSE }}
        run: echo "${ENC_OE_LICENSE}" > ${OE_LICENSE}

      - name: Check OpenEye license
        shell: bash -l {0}
        run: python -c "import openeye; assert openeye.OEChemIsLicensed()"
