name: OE License

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "40 3/6 * * *"

defaults:
  run:
    shell: bash -leo pipefail {0} {0}


jobs:
  test:
    name: Check status
    runs-on: ubuntu-latest
    env:
      OE_LICENSE: ${{ github.workspace }}/oe_license.txt
    steps:
      - uses: actions/checkout@v6

      - name: Set up conda environment
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: '1.5.6-0'
          environment-file: devtools/conda-envs/oe_license_check.yaml

      - name: Decrypt OpenEye license
        env:
          ENC_OE_LICENSE: ${{ secrets.OE_LICENSE }}
        run: echo "${ENC_OE_LICENSE}" > ${OE_LICENSE}

      - name: Check OpenEye license
        run: python -c "import openeye; assert openeye.OEChemIsLicensed(), 'OpenEye licenses out of date!'"
